@model MVCBudget.Models.Visual_Grid

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasData = false;
    if(Model.Net_income > 0)
    {
        hasData = true; 
    }
}

<h1>Index</h1>

<div>
    <h4>Visual_Grid</h4>
    <hr />
    <dl class="row">
    </dl>
</div>

@using (Html.BeginForm("Index", "Visual_Grid", FormMethod.Post, new { id = "DDL" }))
{
    <div class="form-group">
        <label asp-for="Selected" class="control-label"></label>
        <select asp-for="Selected" class="form-control" asp-items="@(new SelectList(Model.Income_Lots, "Key", "Value"))"></select>
        <span asp-validation-for="Selected" class="text-danger"></span>
        <br />
        <input type="submit" value="Show Values" />
    </div>
}
<br />

@if (hasData)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Income.First().Description_time)</th>
                <th>@Html.DisplayNameFor(model => model.Income.First().Entry_name)</th>
                <th>@Html.DisplayNameFor(model => model.Income.First().Amount)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Income)
            {
                <tr>
                    @using (Html.BeginForm("Edit", "Visual_Grid", FormMethod.Post))
                    {
                        <td>@Html.HiddenFor(modelItem => item.Entry_id)</td>
                        <td>@Html.EditorFor(modelItem => item.Description_time, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.EditorFor(modelItem => item.Entry_name, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.EditorFor(modelItem => item.Amount, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td> <button type="submit" class="btn btn-primary">Save</button> </td>
                    }
                    @using (Html.BeginForm("Delete", "Visual_Grid", FormMethod.Post))
                    {
                        <td>
                            @Html.HiddenFor(modelItem => item.Entry_id)
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        @using (Html.BeginForm("Edit", "Income", FormMethod.Post))
        {
        <div class="col-sm-1">
            @Html.HiddenFor(model => model.Income.First().Id)
            </div>
        <div class="col-sm-3">
            <label>Gross Income</label>
            @Html.EditorFor(model => model.Income_amount, new { htmlAttributes = new { @class = "form-control" } })
            <br />
                <button type="submit" class="btn btn-primary">Save</button>

        </div>
        }
        <div class="col-sm-4">
            <label>Total Costs</label>
            @Html.DisplayFor(model => model.Total_costs, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-sm-4">
            <label>Net Income</label>
            @Html.DisplayFor(model => model.Net_income, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
}


